SWIFTLY_PATH=/YOUR_HOME/.swiftly/bin/swiftly
SWIFT_SDK_PATH=/YOUR_HOME/Library/org.swift.swiftpm/swift-sdks
SWIFT_VERSION=6.3
SWIFT_ANDROID_SDK_VERSION=6.3-RELEASE_android

BAZEL_CACHE_TOKEN=YOUR_BAZEL_CACHE_TOKEN
